h1, h2, h3, h4, h5, h6 {
  font-family: Mackinac Pro Extra Bld;
  font-weight: 400;
}

h1 {
  text-align: right;
}

@font-face {
  font-family: Mackinac Pro Extra Bld;
  src: url(../fonts/MackinacProExtraBld.ttf);
}
.container-fluid {
  display: flex;
  align-items: center;
  height: 90vh;
}

.hidden {
  visibility: hidden;
}

#blurb {
  margin-top: 40px;
  width: 50%;
  padding-right: 25px;
}

#blurb p {
  margin-top: -75px;
}

#mr-rogers-illustration {
  width: 456px;
  height: 515px;
  background-image: url(../img/mister-rogers-sweater-illustration.png);
  background-repeat: no-repeat;
  background-size: 456px;
  margin: auto;
}

#speech-bubble {
  margin-top: -70px;
  padding: 40px;
  padding-bottom: 85px;
  width: 250px;
  height: 225px;
  background-image: url(../img/speech-bubble.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(-20deg);
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#speech-bubble::-webkit-scrollbar {
  display: none;
}

#speech-bubble p {
  font-family: Mackinac Pro Extra Bld;
  text-align: center;
  margin-top: -5px;
}


